        app/Jenkinsfile1
        terraform/.gitignore
        terraform/.terraform.lock.hcl
        terraform/.terraform/
        terraform/terraform.tfstate
        terraform/terraform.tfstate.backup